#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
            // C1       C2       C3       C4       C5       C6
            &kp F    &kp G    &kp C    &kp R    &kp L    &kp SLASH  // R1
            &kp D    &kp H    &kp T    &kp N    &kp S    &kp MINUS  // R2
            &kp B    &kp M    &kp W    &kp V    &kp Z    &kp EQUAL  // R3
            &kp SQT  &kp COMMA &kp DOT  &kp K    &kp J    &none      // R4
            &bl      &kp SPACE &kp BSPC &none    &none    &none      // R5
            >;
        };

    };
};
